.Esteemed {
    position: relative;
    width: 100% !important;
    overflow: hidden;
    height: auto;
  }
  
  .grop-title3 {
    display: flex;
   margin: 50px 0px;
  }
  
  
  .title-dis2{
    margin-left: 10px;
    color: white;
  }
  .title-dis2 h2{
font-size: 50px;
  }
  .title-dis2 h3{
    color: #d3b76d ;
  }


.h-5vh{
    height: 15vh;
}



.slider-container {
    position: relative;
    width: 100% !important;
 margin: auto !important;
  } 

  .img-Esteemed{
    margin: auto;
  }
  .slider-buttons {
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    position: absolute;
    width: 100% !important;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer !important;

  } 
  
  .slider-button {
    cursor: pointer;
  width: 100px; 
    height: auto;
  }
  
  .slider-button.prev {
    margin-right: 10px !important;
  }
  
  .slider-button.next {
    margin-left: 10px !important;
  }
  
  .slick-slide {
    transition: opacity 0.3s ease;
  }
  
  .slick-center {
    opacity: 1 !important;
  }
  
  /* Responsive styles */
  @media (max-width: 1200px) {
    .slider-button {
      width: 10px;
    }
    .img-Esteemed{
      width:150px !important;
      margin: auto !important;

     }
  }
  
  @media (max-width: 768px) {
    .img-Esteemed{
      width: 150px !important;
     }
    .slider-button {
      width: 40px;
    }

      .grop-title3 {
        align-items: center;
      
      }
      .prgraf {
        margin: 30px auto;
        padding: 0 20px;
        font-size: 1.2rem;
        color: white;
        max-width: 80%;
        text-align: center;
      }
      .title-dis2 h2 {
        font-size: 7vw; /* Adjust font size for smaller screens */
      }
      .title-dis2 h3 {
        font-size: 3vw; /* Adjust font size for smaller screens */
      }
    
    

  }
  
  @media (max-width: 480px) {
    .slider-button {
      width: 300px ;
    }
    .img-Esteemed{
      width: 150px !important;
      margin: auto;
     }
  }
  .Esteemed .slick-prev {
    width: 100%;
    height: 300px !important;
    left:0px !important;
    background-image: url("./../../../public/uploads/4/4.png");
    background-size: cover;
    background-position: center;
    opacity: 1 !important;
    z-index: 2 !important;

  }
  
  .Esteemed .slick-next {
    width: 100% ;
    height: 200px !important;
    background-image: url("./../../../public/uploads/4/3.png");
    right:0px;
    background-size: 100%;
    background-position: center;
    opacity: 1 !important;

  }.slick-prev:before,
  .slick-next:before {
   display: none;/*  إخفاء الأيقونات الافتراضية */
  }  .slider-container {
    width: 100%;
    margin: 0 auto;
  }
  /* .Esteemed .slide-item  img{
    width: 400px;
   } */
.Esteemed .slick-prev,
.Esteemed  .slick-next {
     background-size: contain;
     background-repeat: no-repeat;
     width: 350px;
     height: 300px;
     z-index: 1;
   }
   .img-Esteemed{
    width: 200px;
   }