.Testimonials{
width: 100%;
height: 100vh;
overflow: hidden;

}
.title-dis3{
max-width: 1000px;
} 
.Testimonials .bg-body1{
    position: relative;
    width: 90%;
    height: 60vh;
    background-color: rgba(107, 112, 141, 0.178);
    margin: auto;
    border-radius: 100px;
}
.photo-phone{
    width: 90%;
    align-items: center;
    background-image: url("./../../../public/uploads/7/back.png");
    width: 100%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}
.img-Esteemed1{
    
    width: 300px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 30px auto;
    height: 40vh;
}